* {
    position: relative;
    justify-content: center;
}

.container {
    width: 250px;
    height: 230px;
    justify-content: center;
    display: grid;
}

.container input {
    width: 253px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: none;
}

.container input:active {
    background-color: rgb(70, 70, 70);
}

.container ul {
    background-color: rgb(180, 180, 180);
    display: block;
    width: 190px;
    height: 120px;
    justify-content: center;
    position: relative;
    left: 40px;
    bottom: 30px;
}

.container ul li {
    list-style: none;
    border-radius: 10px;
    justify-content: center;
    width: 200px;
    display: flex;
    position: relative;
    left: 15px;
    right: 10px;
    margin: 2 0 0 -40;
    font-size: 18px;
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
    background-color: (rgb(180, 180, 180));
}

.container ul li a {
    text-decoration: none;
    color: #ffff;
}

.container ul li:hover {
    background-color: gray;
}